* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


body {
    color: #121212;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
    }

body {
	width: 100%;
  height:100%;
	margin: 0;
  padding: 0;
}


#menu {
  text-align: right;
  list-style-type: none;
  position: relative;
  padding:20px;
  padding-right: 20px;
  text-decoration: none;
}

a:link {
    color: #424242;
    text-decoration: none;

}

/* visited link */
a:visited {
    color: #424242;
    text-decoration: none;

}

/* mouse over link */
a:hover {
    color: #000000;
    font-weight: bolder;
    text-decoration: none;

}

/* selected link */
a:active {
    color: #424242;
    text-decoration: none;

}

nav li{
  display: inline;
  word-spacing: 20px;
}

.button {
  padding: 8px;
  text-decoration: none;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  border-width: 2px;
}

header {
  width: 70%;
  height: auto;
  position: relative;
  left: 10%;
}

header h1 {
  font-size: 30pt;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

h2 {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin: 0px;
}

h3 {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin-top: 10px;
  -webkit-column-span: all;
}

h4 {
  font-size: 10pt;
  font-family: "Montserrat", sans-serif;

}

#skills {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
}

#social {
  margin-top: 50px;
  word-spacing: 10px;
  opacity: 1px;
}

.dates {
  font-size: 12px;

}

#container {
  width: 70%;
  height: auto;
  position: relative;
  left: 10%;
