* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


body {
    color: #121212;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    background-color:#FAFAFA;
  /*  background: -webkit-linear-gradient(blue,purple,pink);*/

    }

body {
	width: 100%;
  height:100%;
	margin: 0;
  padding: 0;
}


nav {

  text-align: right;
  list-style-type: none;
  position: relative;
  padding:40px;
  padding-right: 40px;
  text-decoration: none;
}

a:link {
    color: #424242;
    text-decoration: none;

}

/* visited link */
a:visited {
    color: #424242;
    text-decoration: none;

}

/* mouse over link */
a:hover {
    color: #BA77FF;
    font-weight: bolder;
    text-decoration: none;

}

/* selected link */
a:active {
    color: #424242;
    text-decoration: none;

}

nav li{
  display: inline;
  word-spacing: 20px;
}

.button {
  padding: 8px;
  text-decoration: none;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  border-width: 2px;
}

.download {
  position: absolute;
  left:50px;
  top: 50px;
  background-color: black;
  padding: 10px;
  border-radius: 2px;
}

.download a{
  color: white;
}


header {
  text-align: center;
}

header img {
  width: 80px;
  height: 80px;
}


header h1 {
  font-size: 25pt;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: 10px;
  padding-top: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  color: black;
}


hr {
  width: 10%;
  background-color:#BA77FF;
  margin-top: 20px;
  padding: 2px;
  margin-bottom: 50px;
  border: none;
}



h2 {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0px;
}

h3 {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  text-align: c;
  margin-top: 10px;
  -webkit-column-span: all;
}

h4 {
  font-size: 10pt;
  font-family: "Montserrat", sans-serif;

}


section {
  background-color: white;
  padding: 30px;
  width: 90%;
  align-content: center;
}


.dates {
  font-size: 12px;
}


.skills ul li {
  display: inline-block;
  margin: 0;
}

.social {
  word-spacing: 10px;
  opacity: 1px;
}

footer {
  text-align: center;

}


#container {
  width: 70%;
  height: auto;
  position: relative;
  left: 19%;
}
