/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
  background-color: green;
  perspective: 1000px;
  transform-style: preserve-3d;
}


.card {

  position: relative;
  float: left;
  width: 150px;
  height: 200px;
  margin: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotateX(0deg);
  transition: all 1s;
  transform-style: preserve-3d;

}

.card:hover {
  transform: rotateX(-180deg);
}


.front, .back {
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.front {
  position: absolute;
	transform: rotateX(-180deg);
  background-color: white;

}

.card .front .suit {
  position: absolute;
  background-image: url("img/french-suits.svg");
  width: 100%;
  height:100%;
  background-color: white;


}

.back {
  position: absolute;
  background-image: url("img/bicycle-back.jpg");
}



/*
.card {
  position: relative;
  float: left;
  background-image: url("img/bicycle-back.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 150px;
  height: 200px;
  margin: 15px;
  border-radius: 16px;
  transition: all 0.9s;
}

.card:hover {
  position: relative;
  float: left;
  z-index: 2;
  transform: rotatex(180deg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("img/french-suits.svg");
  background-color: white;
}
*/





#table {
margin: 0 auto;

}

#front {

}

#suite {


}



h1 {
text-align: center;
color: white;
}
