/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #515151;
     font-size: 16px;
     line-height: 1.4;
     font-family: lato;
     font-weight: 300
     }

/*.preview {
  background-image: url(../img/fashion_blog_part2.png);
  background-repeat: no-repeat;
}*/

h1 {
  font-size: 52px;
  text-decoration: none;
  color: red;
  font-weight: 300;
}

h1 a {
  text-decoration: none;
  color: #f30000;

}

h2 {
  font-size: 23.3px;
  font-weight: 300;
}

.subheading {
  font-size: 27px;
  color: #888888;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  background-color: black;
  padding: 16px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 17pt;
}

h2 a {
  font-size: 27pt;
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 35px;
  margin-bottom: -15px;
  margin-top: 15px;
  font-weight: 300;
  color:#cccccc;


}

h3 a {
  text-decoration: none;
  color: #F0F0F0;
}

h4 {

  padding-bottom: 2.0em;
  text-align:right;

}

h4 a {
  text-decoration: none;
  color: #f30000;
  font-size: 18px;

}

h5 {
  font-size: 17px;
  font-weight: bold;
  color:#888888;
}

.popular ul {
  color: grey;
  margin-top: -15px;
}

.popular ul li {
color: #888888;
line-height: 25px;
}

.popular ul li span{
  color: #f30000;
  font-size: 12pt;
}



h6 {
  font-size: 0.6em;
}

p {
  line-height: 30px;
  padding bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}


.firstcharacter {
   float: left; color: #dddddd;
   font-size: 75px;
   line-height: 60px;
   padding-top: 4px;
   padding-right: 8px;
   padding-left: 3px;
   font-family: Lato; }

.bottom-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bottom-nav ul li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-style: solid;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-width: thin;
  border-color: #F0F0F0;

}

.bottom-nav ul li a {
  font-size: 17px;
  text-decoration: none;
  color: #f30000;
  text-align: center;
}

hr {
  background-color: purple;
}
