
/******************************************
/* LAYOUT
/*******************************************/


header {

  position: relative;
  padding-bottom: 40px;
}

.sartre{
  position: relative;
  display: inline-block;
}

.subheading {
  position: relative;
  display: inline-block;
  padding-left: 30px;
}


nav {
  width: 100%;
  margin-top: -30px;
}

nav ul {
  width: 100%;
  margin: 0px;
}

nav ul li {
  position: relative;
  width: 16%;
}

nav ul li a {
  display: block;
  width: 100%;
}

article {
  position: relative;
  float: left;
  width: 93%;
}

article img {
  width: 100%;
}

article p {
  width: 100%;
}

article h4 a {
  float: right;
  margin-top: -50px;
}

article hr {
  margin-top: -48px;
  margin-bottom: 50px;

}

h4 {
  color: red;
  font-size: 14px;
  margin-top: 50px;

}

section {
  float:left;
  width: 70%;
  margin-bottom: 9px;
}


.about {
  position: relative;
  float: right;
  width: 30%;
  padding-top: 57px;

  }

.paragraph {
    margin-bottom: 0px;
  }


.sidebar {
  float: left;
  position: absolute;
  width: 30%;
}


.about h4 {
  margin-top: 27px;
  font-size: 20px;
  margin-bottom: -15px;
  padding-right: 14px;
}



.box {
  background-color: #cccccc;
  float: left;
  width:30%;
  height:250px;
  margin-top: 15px;
  margin-bottom: 25px;

  position: relative;
}

.box h1 {
  text-align: center;
  padding-top: 10px;
  color: #969696;
  font-family: 'Roboto Slab', serif;
  font-size: 60pt;

}



.popular {
  position: relative;
  float: left;
  width: 30%;
  }



.popular h4 {
  margin-top: 27px;
  font-size: 20px;
  margin-bottom: -15px;
  padding-right: 14px;
}

.bottom-nav{
  clear: both;
}

footer {
  margin-top: 0px;
}

footer p {
  margin-top: 25px;
  color: grey;
  font-size: 18px;
}

#container {
margin:0 auto;
margin-left:52px;
margin-right: 40px;
margin-top: 76px;
}
