
/******************************************
/* LAYOUT
/*******************************************/


header {

  position: relative;
  padding-bottom: 40px;
}

.sartre{
  position: relative;
  display: inline-block;
}

.subheading {
  position: relative;
  display: inline-block;
  padding: 20px;
}


nav {
  width: 100%;
}

nav ul {
  width: 100%;
  margin: 0px;
}

nav ul li {
  width: 16.3%;
  position: relative;
}

nav ul li a {
  display: block;
  width: 100%;
}

article {
  position: relative;
  float: left;
  width: 90%;
}

article img {
  width: 100%;
}

article p {
  width: 100%;
}

article h4 a {
  float: right;
}

.about {
  position: relative;
  float: right;
  width: 30%;
  padding-top: 95px;

  }


.sidebar {
  float: left;
  position: absolute;
  width: 30%;
}

.box {
  background-color: grey;
  float: left;
  width:30%;
  height:280px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
}

.box h1 {
  text-align: center;
  padding: 10px;
  color: black;
}

h4 {
  color: red;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 0;
}

.popular {
  position: relative;
  float: left;
  width: 30%;
  }

.popular ul {
  margin-top: 10px;
}

section {
  float:left;
  width: 70%;
  margin-bottom: 30px;
}

.bottom-nav{
  clear: both;
  margin-top: 20
}

footer {
  margin-left: 35px;
  margin-top: 40px;
}


#container {
margin:0 auto;
margin-left:40px;
margin-right: 40px;

}
